.flip {
    background-color: transparent;
    perspective: 100%;
    /* Remove this if you don't want the 3D effect */
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flipped .inner {
    transform: rotateX(180deg) scale(1, -1);
}

/* This container is needed to position the front and back side */
.inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 250ms;
    transform-style: preserve-3d;
}

.front {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}